{% extends 'front/base.html' %} {% block content %}

<section class="breadcrumbs">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="breadcrumb-wrapper">
                  <div class="breadcrumb-cnt">
                      <h1>{{ form.instance.pk|yesno:"Modifier une mesure,Créer une mesure" }}</h1>
                      <span>
                        <a href="{% url "sensor_list" %}">Liste des mesures</a>
                        <i class="bi bi-arrow-right"></i>
                        {{ form.instance.pk|yesno:"Modifier une mesure,Créer une mesure" }}
                      </span>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="contact-area sec-mar">
  <div class=" container my-4">
  <h2>Ajouter une nouvelle mesure pour {{ capteur.nom_capteur }}</h2>
  <form method="post"  class="bg-light p-4 rounded shadow">
    {% csrf_token %} {{ form.as_p }}
    <button type="submit" class="btn btn-success mt-3">Enregistrer</button>
  </form></div>
</section>
{% endblock %}
