{% extends 'front/base.html' %}
{% load static %}
{% block title %} {{seo.meta_title}} - {{seo.meta_description}} {% endblock title %}
{% block title1 %} {{seo.meta_title}} - {{seo_settings.meta_title}} {% endblock title1 %}
{% block title2 %} {{seo.meta_title}} - {{seo_settings.meta_title}} {% endblock title2 %}
{% block content %}
<style>
    .premium-pricing h3{
        color:white;
    }
    .premium-pricing span{
        color:white;
    }
    .premium-pricing strong{
        color:white;
    }
    .pagination .page-link {
        border-radius: 0.5rem; /* Rounded pagination buttons */
    }
    
    .pagination .active .page-link {
        background-color: #007bff; /* Active page color */
        color: white;
    }

    .pagination .page-item:not(.active) .page-link:hover {
        background-color: #e9ecef; /* Hover effect */
    }
</style>

    <main class="creasoft-wrap">

        <div class="line_wrap">
            <div class="line_item"></div>
            <div class="line_item"></div>
            <div class="line_item"></div>
            <div class="line_item"></div>
            <div class="line_item"></div>
        </div>

        <!-- Breadcrumbs Section -->
        <section class="breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb-wrapper">
                            <div class="breadcrumb-cnt">
                                <h1>Consommation d'eau</h1>
                                <span><a href="{% url "homePageFront" %}">Home</a><i class="bi bi-arrow-right"></i>Consommation d'eau</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--====================== Consommation d'Eau Section ======================-->
        {% if consommationEaus %}
        <section class="services-grid sec-mar">
            <div class="container">
                <div class="title-wrap">
                    <div class="sec-title">
                        <span>Surveillance</span>
                        <h2>Consommation d'Eau</h2>
                    </div>
                </div>
                <div class="text-center my-4">
                    <a href="{% url 'consommationEauCreate' %}"  class="btn btn-success">Ajouter une nouvelle consommation</a>
               
                    <a href="{% url 'show_prediction' %}" class="btn btn-success" >Voir la prédiction de consommation</a>
                </div>
            </div>
                
                <div class="row g-4">
                    {% for consommation in page_obj %}
                    <div class="col-md-6 col-lg-4 wow animate fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                        <div class="single-service">
                            <span>0{{forloop.counter}}</span>
                            {% if service.fontawesome_icon_class %}
                                <div class="icon">
                                    <i class="{{ service.fontawesome_icon_class }} service-ico"></i>
                                </div>
                            {% endif %}
                            <span>{{ consommation.date_heure|date:"d/m/Y H:i" }}</span>
                            <h4>Quantité consommée : {{ consommation.quantite_consommee }} litres</h4>
                            <p>Température : {{ consommation.temperature }}°C</p>
                            <p>Humidité : {{ consommation.humidite }}%</p>
                            <p>Précipitations : {{ consommation.precipitations }} mm</p>
                            <p>Type de culture : {{ consommation.type_culture }}</p>
                            <p>Phase de culture : {{ consommation.phase_culture }}</p>
                            <div class="read-btn">
                                <a href="{% url "consommationEauDetail" consommation.id %}">Read More</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {% endif %}
            
                        {% for num in page_obj.paginator.page_range %}
                            {% if page_obj.number == num %}
                            <li class="page-item active" aria-current="page">
                                <span class="page-link">{{ num }}</span>
                            </li>
                            {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                            </li>
                            {% endif %}
                        {% endfor %}
            
                        {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </section>
        {% else %}
        <p>Aucune donnée de consommation disponible pour l'instant.</p>
        {% endif %}

       <!--====================== Testimonials Section ======================-->
       {% if testimonials %}
        <section class="testimonial-area">
            <div class="container-fluid p-0">
                <div class="title-wrap">
                    <div class="sec-title white">
                        <span>Testimonial</span>
                        <h2>Client Say About Us</h2>
                    </div>
                </div>
                <div class="swiper testimonial-slider">
                    <div class="swiper-wrapper">
                        {% for testimonial in testimonials %}
                            <div class="swiper-slide">
                                <div class="single-testimonial">
                                    <div class="quote">
                                        <i class="fas fa-quote-right"></i>
                                    </div>
                                    <h5>{{ testimonial.name }}</h5>
                                    <span>{{ testimonial.position }}</span>
                                    
                                    {% if testimonial.star %}
                                    <div class="stars">
                                        {% for i in "x"|rjust:testimonial.star %}
                                            <a href="#"><i class="fas fa-star"></i></a>
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                    <p>{{ testimonial.description }}</p>
                                    {% if testimonial.image %}
                                    <div class="reviewer">
                                        <img src="{{ testimonial.image.url }}" alt>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-pagination d-md-none d-md-block"></div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </section>
        {% endif %}

    </main>
{% endblock %}
